<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                {% assign nav_pages = site.html_pages | where_exp: 'p','p.nav' | sort: 'nav_order' %}
                {% for p in nav_pages %}
                <li class="nav-item{% if page.url == p.url %} active{% endif %}">
                <a class="nav-link" href="{{ p.url | relative_url }}">{% if p.nav == true %}{{ p.title }}{% else %}{{ p.nav }}{% endif %}</a>
                </li>
                {% endfor %}
            </ul>
            {% if site.search == true %}
            <script>
                function site_search() {
                    var query = document.getElementById("site-search").value;
                    window.open("{{ '/search.html' | relative_url }}?q=" + encodeURIComponent(query), "_self" );
                    }
            </script>
            <form class="form-inline my-2 my-lg-0" onsubmit="site_search(); return false;">
                <input id="site-search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% include icon.html icon="search" label="Submit Search" %}</button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>