---
# front matter
---
@charset "utf-8";

/* Optionally tweak base body text and link color */
$text-color: #111 !default;
$link-color: #2a7ae2 !default;

/* Set contain-narrow size for page-narrow layout */
$container-narrow: 700px;

/* Optionally limit container size to make reading easier */
// $container-max: 750px;

/* 
  Colors to theme 
  set colors in _data/theme-colors.csv
*/
{% assign btns = site.data.theme-colors | where_exp: "item","item.color != nil" %} 
{% for btn in btns %}
${{ btn.color_class }}: {{ btn.color }};
{% endfor %}
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    {% for btn in btns %}
    "{{ btn.color_class }}": ${{ btn.color_class }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ),
  $theme-colors
);

// Import partials.
@import
  "theme-colors", "template", "custom"
;
